In [1]:
a = "innogeeks"
print(a[0:-2])

innogee

In [2]:
a = "innogeeks"
print(a[::-1])

skeegonni

In [1]:
x = "arun"
y = "shetty"
z = x[0] +" " + y[:]
print(z)

a shetty

In [4]:
a = input("enter your name:")
print("my name is "+a)

enter your name:ARNAV
my name is ARNAV

In [5]:
b = int(input("enter your age:"))
print(a + "is"+b+"years old")

enter your age:18

TypeError: can only concatenate str (not "int") to str

In [7]:
print(f"{a} is {b} years old")

ARNAV is 18 years old

In [10]:
a = "Arnav Parmar"
f,l = a.split()
print(f"{f[0]+'. '+l} is {b} years old")

A. Parmar is 18 years old

In [13]:
t = print(a.title())
b = print(a.strip())
c = print(a.lower())
d = print(a.upper())

Arnav Parmar
Arnav Parmar
arnav parmar
ARNAV PARMAR

In [14]:
print(len(a))

12

In [21]:
num = int(input("enter number:"))
if num%2==0:
    print("even number")
else:
    print("odd number")

enter number:8
even number

In [26]:
num = int(input("enter number:"))
for i in range(2,num):
    if num%i == 0:
        print("not prime")
        break
        
        
else:
    print("prime")

enter number:6
not prime

In [27]:
#prime number between range
l = int(input("print lowest range:"))
u = int(input("print upper range:"))

for number in range(l,u+1):
    if number>1:
        for i in range(2,number):
            if number%i==0:
                break
                
        else:
            print(number)

print lowest range:1
print upper range:100
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [28]:
num1 = int(input("enter first number:"))
num2 = int(input("enter second number:"))
num3 = int(input("enter third number:"))
if num1>num2 and num1>num3:
    print(num1,"is the greatest")
elif num2>num1 and num2>num3:
    print(num2,"is the greatest")
else:
    print(num3,"is the greatest")

enter first number:10
enter second number:15
enter third number:20
20 is the greatest

In [3]:
#A-100-90   B- 80-90   C - 70-80  
eng = int(input("enter english marks:"))
hindi = int(input("enter hindi marks:"))
maths = int(input("enter maths marks:"))
totalmarks = eng + hindi + maths
percentage = (totalmarks *100) / 300
if 90<=percentage <=100:
    print("A")
elif 80<=percentage<=90:
    print("B")
else:
    print("C")

enter english marks:90
enter hindi marks:90
enter maths marks:90
A