In [1]:
l = ["a",'b','c','d','e']
l

['a', 'b', 'c', 'd', 'e']

In [2]:
l = ["A","r","n","a","v"]
p = l[0:5:2]
p

['A', 'n', 'v']

In [3]:
t = (1,2,3,4,5)
m = list(t)
m

[1, 2, 3, 4, 5]

In [4]:
t = (1,2,3)
y = (4,5)
t += y 
t

(1, 2, 3, 4, 5)

In [5]:

def greet(name):
    print('hello '+name+"!")
    
greet("arnav")

hello arnav!

In [6]:
def add(a,b):
    return a+b

add(4,5)

9

In [7]:
def person(name,age):
    return name,age

b,a = person("a",18)
a,b

(18, 'a')

In [8]:
c = 15

def update_c():
    global c
    c = 10
    
update_c()

In [9]:
c

10

In [10]:
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n * factorial(n-1)
    
factorial(5)

120

In [11]:
exp = lambda x,y:x**y
print(exp(5,2))

25

In [12]:
l = [1,2,3]
new = list(map(lambda x:x**2,l))
print(new)

[1, 4, 9]

In [18]:
import time 
def timetaken(func):
    def wrapper():
        st = time.time()
        func()
        end = time.time()
        print("time:",end-st)
    return wrapper
@timetaken
def func():
    print("hello")
    
func()

hello
time: 0.0